site_name: Data Sharing In A Box Template by Dr. Danielle Boyce
site_url: https://boycelab.github.io/DataSharingInABox
repo_url: https://github.com/BoyceLab/DataSharingInABox
repo_name: BoyceLab/DataSharingInABox

theme:
  name: material
  logo: blob/main/assets/img/IMG_7932.png
  favicon: blob/main/assets/img/IMG_7932.png  # Optional, uses same image for favicon
  font:
    text: EB Garamond
  features:
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
  
nav:
  - Home: index.md
  - How to Customize This Template: customization.md
  - Information for Researchers: researchers.md 
  - Data Use Agreement: dua.md
  - Data Dictionary: data-dictionary.md
  - Derived Fields: derived-fields.md
  - IRB Documentation: irb.md
  - FAQ: faq.md
  - Acknowledgements: acknowledgements.md
  - Key Resources: key_resources.md  

markdown_extensions:
  - meta
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: false
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search

extra:
  generator: false
