# mkdocs.yml - Configuration for your MkDocs site
site_name: DataSharingInABox
site_url: https://boycelab.github.io/DataSharingInABox/
repo_url: https://github.com/BoyceLab/DataSharingInABox
repo_name: BoyceLab/DataSharingInABox

theme:
  name: material
  logo: assets/img/logo.png  # Replace with your logo path
  favicon: assets/img/logo.png  # Replace with your favicon path
  font:
    text: EB Garamond
  palette:
    scheme: default
  features:
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

nav:
  - Home: index.md
  - Data Dictionary: data-dictionary.md
  - Derived Fields: derived-fields.md
  - Data Use Agreement: dua.md
  - IRB Information: irb.md
  - Acknowledgements: acknowledgements.md

markdown_extensions:
  - meta
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: false
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search

extra:
  generator: false

extra_css:
  - assets/css/custom.css
